img{
    opacity: 1.0;}

img:hover {
    opacity: 0.7;}
    
.opacity {
    opacity: 0.5;
}



#q1pic1{height:200px;width:200px;}
#q1pic2{height:200px;width:250px;}
#q1pic3{height:200px;width:250px;}
#q1pic4{height:200px;width:250px;}

#q2pic1{height:200px;width:200px;}
#q2pic2{height:200px;width:200px;}
#q2pic3{height:200px;width:160px;}
#q2pic4{height:200px;width:190px;}

#q3pic1{height:250px;width:290px;}
#q3pic2{height:250px;width:220px;}
#q3pic3{height:250px;width:360px;}
#q3pic4{height:250px;width:240px;}

#q4pic1{height:200px;width:170px;}
#q4pic2{height:200px;width:160px;}
#q4pic3{height:200px;width:160px;}
#q4pic4{height:200px;width:190px;}

#q5pic1{height:300px;width:200px;}
#q5pic2{height:300px;width:110px;}
#q5pic3{height:300px;width:300px;}
#q5pic4{height:300px;width:230px;}

#q6pic1{height:200px;width:150px;}
#q6pic2{height:200px;width:110px;}
#q6pic3{height:200px;width:170px;}
#q6pic4{height:200px;width:120px;}

#q7pic1{height:200px;width:150px;}
#q7pic2{height:200px;width:280px;}
#q7pic3{height:200px;width:290px;}
#q7pic4{height:200px;width:280px;}

#q8pic1{height:200px;width:200px;}
#q8pic2{height:200px;width:350px;}
#q8pic3{height:200px;width:200px;}
#q8pic4{height:200px;width:300px;}


