#q1pic1{height:150px;width:150px;}
#q1pic2{height:150px;width:200px;}
#q1pic3{height:150px;width:200px;}
#q1pic4{height:150px;width:200px;}

#q2pic1{height:150px;width:150px;}
#q2pic2{height:150px;width:150px;}
#q2pic3{height:150px;width:110px;}
#q2pic4{height:150px;width:170px;}

#q3pic1{height:150px;width:190px;}
#q3pic2{height:150px;width:120px;}
#q3pic3{height:150px;width:210px;}
#q3pic4{height:150px;width:140px;}

#q4pic1{height:150px;width:110px;}
#q4pic2{height:150px;width:110px;}
#q4pic3{height:150px;width:110px;}
#q4pic4{height:150px;width:140px;}
