h1{color: #6D64AB;}
h1{font-size:60px;}
li{color: #9C93DE;}
li{font-size: 30px;}
h1{font-family:"brush script mt";}
li{font-family:"brush script mt";}
background{color: #E9E6FC;}
img{border:10px solid;}
